body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    padding-bottom: 10px;
}

#searchBar {
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.content-section {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-item {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.content-item img {
    width: 100%;
    height: auto;
}

.content-item:hover {
    transform: translateY(-5px);
}
